/*MessageFromUser.module.css*/
.message_from_user_wrapper {
    display: flex;
    justify-content: end;
}

.message_from_user {
    display: flex;
    justify-content: end;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-inline: 20px;
    margin-bottom: 20px;

    width: fit-content;
    max-width: 800px;
    height: auto;

    background-color: var(--user-message-bg-color);
    border-radius: 20px;
}
