.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 20px;
    margin-top: 10px;
    padding: 10px;
}

.link {
    display: flex;
    align-items: center;
    color: var(--text-color);   
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: none;
    color: var(--text-color); /* Сохраняем цвет при hover */
}

.text {
    font-size: 32px;
    font-weight: bold;
}