.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 45px;
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: var(--hover-color)
}

.button:active {
    background-color: var(--active-color);
}