/* LIGHT THEME */
[data-theme="light"] {
    --bg-color: rgb(255, 255, 255);
    --bg-color-07: rgba(255, 255, 255, 0.7);
    --icon-color: rgb(0, 0, 0);
    --text-color: rgb(0, 0, 0);
    --border: 1px solid rgb(0, 0, 0);
    --hover-color: rgb(35, 35, 35);
    --active-color: rgb(52, 52, 52);
}