.input_field_wrapper {
    margin: 0px;
    width: 100%;
    height: 140px;
    border: var(--border);
    border-radius: 35px;
}

.input_field {
    width: auto;
    padding: 20px;

    outline: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    border: 0 solid black;
}