/* InputField.module.css */
.input_field_wrapper {
    margin: 0px;
    width: 100%;
    border: var(--border);
    border-radius: 35px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden; /* Скрываем переполнение wrapper */
}

.input_field {

    width: 100%;
    min-height: 80px;
    max-height: 480px; 
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    resize: none;
    font-family: inherit;
    line-height: 1.5;
    
    /* scrollbar */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}
