.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--bg-color07);
    backdrop-filter: blur(10px) saturate(120%);
    padding: 0 1rem;
    margin-left: 260px;
}