.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--bg-color07);
    /*color: black;
    background-color: white;*/
    backdrop-filter: blur(10px) saturate(120%);
    padding: 0 1rem;
}

.chat_name {
    text-align: center;
    padding: 16px;
    width: 250px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: var(--border);
    box-shadow: var(--shadow);
}