/* Chat.module.css */
.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.messages_wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 130px;
}

.input_field_wrapper {
    position: fixed;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 300px;
    max-width: 1000px;
    bottom: 0; 
    left: 0;
    right: 0;
}
