/* Chat.module.css */
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.messages_wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input_field_wrapper {
    position: sticky;
    bottom: 0;  
    padding: 16px 0;
}
