.home {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.home > :first-child { /* Sidebar */
    grid-area: sidebar;
}

.home > :nth-child(2) { /* Header */
    grid-area: header;
}

.home > main {
    grid-area: main;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    background-color: var(--bg-color);
}