.sidebar {
    /* Main styles */
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-right: var(--border);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;  
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: var(--border);
    height: 60px;
}
