.sidebar {
    /* Main styles */
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-right: var(--border);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;  
}

.top {
    margin: 0px;
}